<!doctype html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <!-- Navbar -->
    <%- include('../partials/navbar.ejs') %>

    <!-- Content -->
    <div class="container d-flex flex-column px-3">
      <!-- Error-alert -->
      <% if (error) { %>
        <%- include('../partials/alert.ejs', {error}) %>
      <% } %>

      <!-- Header -->
      <h3 id="header-text" class="mb-3"><%=header%></h3>

      <!-- Articles -->
      <div class="d-flex flex-row flex-wrap mb-3" id="card-container">
        <% if (articles && articles.length > 0) { %>
          <% articles.forEach(article => { %>
            <%- include('../partials/card.ejs', {article}) %>
          <% }) %>
        <% } %>
      </div>
    </div>

    <!-- Script-tags -->
    <%- include('../partials/script.ejs') %>
  </body>
</html>
